<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
				integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

	<title>Pets R Us</title>
</head>
<body>
<div class="container">
	<h1>Order a pet!</h1>

	<form action="order2" method="POST">
		<div class="input-group">
			<label for="pet">What kind of pet would you like to order?</label>
			<input type="text" id="pet" name="pet">
		</div>

		<label for="pet-color">Choose a pet color:</label>
		<select name="pet-color" id="pet-color">
			<option value="">--Please choose an option--</option>
			<option value="red">Red</option>
			<option value="green">Green</option>
			<option value="blue">Blue</option>
		</select>
		<br>
		<input type="submit" id="submit-order" value="Place Order">
	</form>
</div>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
				integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
				crossorigin="anonymous"></script>

</body>
</html>